/* Estilos gerais */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #310a55;
  margin: 0;
  padding: 0;
}

/* Barra de navegação */
.navbar {
  background-color: #64058f;
  color: #9aa800d3;
  padding: 16px 32px 16px 32px;
  margin-top: 25px;
  border-radius: 15px;
}

.navbar:hover {
    box-shadow: -3px 1px 30px #7007b6bd;
}

.navbar-title {
  margin: 0;
  font-size: 1.5em;
}

.navbar-title:hover {
    color: #e5f81cd3;
    text-shadow: 1px 1px 20px white
    
}

/* Container principal */
.container {
  max-width: 900px;
  margin: 64px auto;
  padding: 0 16px;
}

/* Caixa de tweet */
.tweet-box {
  background: #2c2c2e;
  color: #dee2e6;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 32px;
  margin-bottom: 32px;
  box-shadow: 1px 2px 7px rgba(36, 36, 36, 0.717);
}

.tweet-box h2 {
  margin-bottom: 24px
}

/* Formulário */
.form-group {
  margin: 0px 32px 16px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.form-control {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 1em;
  resize: none;
}

.form-control:focus {
  outline: none;
  border-color: #540067;
  box-shadow: 0 1px 3px #540067;
}

/* Botão */
.btn {
  display: block;
  margin: auto;
  background-color: #540067;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.btn:hover {
  background-color: #6e0386;
}

/* Postagens */
.post {
  background: #2c2c2e;
  border: 2px solid #64058f;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.post:hover {
    box-shadow: 0px 0px 3px #6e0386;
}

.post-autor {
  color: #64058f;
  font-size: 1.2em;
  margin: 0 0 0.3rem;
}

.post-autor:hover {
    text-shadow: 0px 0px 5px #350848;
}

.post-conteudo {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.post-data {
  color: #ffffff;
  font-size: 0.85rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
